<launch>

	<master auto="start"/>
	<!-- Run the map server --> 
	<node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/lib_map.pgm 0.05"/>
	<node pkg="rviz" type="rviz" name="rviz"/>

	<!--- Run AMCL --> 
	<include file="$(find amcl)/examples/amcl_diff.launch" />

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find my_robot_name_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
		<rosparam file="$(find my_robot_name_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find my_robot_name_2dnav)/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find my_robot_name_2dnav)/global_costmap_params.yaml" command="load" /> 
		<rosparam file="$(find my_robot_name_2dnav)/base_local_planner_params.yaml" command="load" />
	</node>

	<!-- run our custom code -->
	<node name="robot_controller" pkg="our_package" type="robot_brain.py" output="screen"/>

</launch> 
